@model LoginViewModel

    <div class="container">
        <form class="offset-3 col-6" asp-controller="Account" asp-action="Login" method="post">
            <div class="mb-2">
                <h2>Увійти в аккаунт</h2>
                <a asp-action="Register" asp-controller="Account" class="text-center">Створити новий аккаунт</a>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mt-2">
                <input type="submit" class="btn btn-success px-2" value="Увійти"  />
            </div>
        </form>
    </div>