@model UserDataViewModel
    
    <div class="me-2">
        <img src="/images/@Model.Image" class="rounded-circle" width="30" height="30" alt="Default image" />
        <b class="text-dark">@Model.Name</b>
    </div>
   
